/* debug */
/* [class^=col]{
  border: 1px solid red;
} */

:root{
  --header_height: 70px;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: white;
  height: var(--header_height);
}

header .input-group > .input-group-text.my_input_text{
  background-color: #E5E5E5;
  border-color: #E5E5E5;
  padding-right: .2rem;
  padding-left: .4rem;
}

header .input-group > .form-control.my_search_bar{
  background-color: #E5E5E5;
  border-color: #E5E5E5;
  box-shadow: none;
}

header .my_dropdown_menu.dropdown-menu[data-bs-popper]{
  left: unset;
  right: 0;
}

aside{
  font-family: 'Poppins', sans-serif;
  height: calc(100vh - var(--header_height));
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
}

aside div a{
  display: block;
  font-size: 1.1rem;
  padding: .8rem 0rem;
  text-decoration: none;
}

aside div:last-of-type{
  margin-top: auto;
}

main{
  max-height: calc(100vh - var(--header_height));
  overflow: auto;

  /* debug */
  background-color: green;
}

@media (max-width: 1400px){
  aside div span{
    display: block;
  }
}

@media (max-width: 991px){
  aside div span{
    display: none;
  }

  aside div i{
    font-size: 1.4rem;
  }
}
